<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-paintings-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Paintings
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-paintings-link">
                <a href="" class="dropdown-item">Pre-history</a>
                <a href="" class="dropdown-item ">late 17th – early 18th c</a>
                <a href="" class="dropdown-item ">mid-18th c</a>
                <a href="" class="dropdown-item">late 18th c</a>
                <a href="" class="dropdown-item">late 19th c</a>
                <a href="" class="dropdown-item">All Paintings</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="artists-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Artists
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="artists-link">
                <a href="" class="dropdown-item">Pre-history</a>
                <a href="" class="dropdown-item ">late 17th – early 18th c</a>
                <a href="" class="dropdown-item ">mid-18th c</a>
                <a href="" class="dropdown-item">late 18th c</a>
                <a href="" class="dropdown-item">late 19th c</a>
                <a href="" class="dropdown-item">All artists</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link">
                About
            </a>
        </li>
    </ul>
</div>