<footer>
    {% if request.resolver_match.url_name == "home" %}
    <span><a href="{% url 'product_detail' 36491 %}"><i class="far fa-image"></i> Go to cover image page</a></span>
    {% endif %}
    <div id="footer-social" class="col-12">
        <h5 class="uppercase general-sub">Social</h5>
        <ul class="list-inline social-links">
            <li class="list-inline-item">
                <a target="_blank" href="https://www.facebook.com/">
                    <i class="fa fa-facebook" aria-hidden="true">
                        <span class="sr-only">Facebook</span>
                    </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a target="_blank" href="mailto:daithioc@outlook.com">
                    <i class="fa fa-envelope" aria-hidden="true">
                        <span class="sr-only">Email</span>
                    </i>
                </a>
            </li>
            <li class="list-inline-item">
                <a target="_blank" href="https://web.wechat.com/">
                    <i class="fa fa-weixin" aria-hidden="true">
                        <span class="sr-only">WeChat</span>
                    </i>
                </a>
            </li>
        </ul>
        <p><i class="fa fa-location-arrow"></i> Ukiyo-e, Wexford, Ireland </p>
        <p><i class="fa fa-phone"></i>  +353-852558090  </p>
        <p><i class="fa fa fa-envelope"></i> daithioc@outlook.com  </p>
        <p class="copyright">Ukiyo-e © 2021 | Designed by <a href="https://daithioc95.github.io/MS1/" target="_blank"> CodeDoc</a></p>
    </div>
</footer>