<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-paintings-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Paintings
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-paintings-link">
                <a href="" class="dropdown-item">Edo Period(1615-1868)</a>
                <a href="" class="dropdown-item ">Meiji Period (1868-1912)</a>
                <a href="" class="dropdown-item ">Taisho Period (1912-1926)</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="artists-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Artists
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="artists-link">
                <a href="" class="dropdown-item">Edo Period(1615-1868)</a>
                <a href="" class="dropdown-item ">Meiji Period (1868-1912)</a>
                <a href="" class="dropdown-item ">Taisho Period (1912-1926)</a>
                <a href="" class="dropdown-item">All artists</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="homeware-link">
                About
            </a>
        </li>
    </ul>
</div>