{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">About</h2>
            <hr class="w-50 mb-1">
        </div>
    </div>
    <div class="row">
        <div class="col-8 offset-2">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam libero neque, luctus et volutpat eget, laoreet aliquam ipsum. Suspendisse at ipsum velit. Integer ullamcorper congue sapien, id facilisis purus ultricies id. Vivamus dignissim nisl tellus, nec commodo mi hendrerit ut. Sed hendrerit velit purus, ut convallis nibh feugiat at. Maecenas nec sodales massa. Duis tempus erat vitae magna vestibulum ornare.</p>

            <p>Curabitur finibus dapibus diam a varius. Donec vehicula, nibh eu ornare scelerisque, neque augue consequat risus, a tempor orci erat ut sem. Suspendisse dignissim et mi sed tempus. Integer ac consectetur nisl, id auctor nunc. Nullam quis accumsan dolor, sit amet fermentum nibh. Nunc odio sem, suscipit vel nulla sit amet, suscipit luctus metus. Curabitur pulvinar metus lorem, ac pellentesque leo tincidunt sit amet.</p>
        </div>
    </div>
</div>

{% endblock %}