{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">About</h2>
            <hr class="w-50 mb-1">
        </div>
    </div>
    <!-- About Section text -->
    <div class="row">
        <div class="col-lg-8 offset-lg-2 col-10 offset-1">
            <h3 class="mt-5">Who Are We?</h3>
            <p class="about mt-5">We are a company who supply prints of the most beautiful ukiyo-e artworks over the
                past centuries. I initially got interested in ukiyo-e art on my first trip to Japan, the remnants of
                historical art are visible everywhere and the ukiyo-e style is visible in Japanese manga and cartoons
                today. One of the memories which stuck with me was a visit to <a
                    href="https://ms4-ukiyo-e.herokuapp.com/products/artist_detail/Katsushika%20Hokusai">Katsushika
                    Hokusai’s</a> Museum in Obuse, arguably the
                grandfather of Ukiyo-e art, the patience and perfection dedicated to this skill is what influenced me to
                ensure as much people as possible can decorate and appreciate this artwork as possible.</p>

            <p class="about mt-5">We are based in Wexford, Ireland and we supply prints internationally. We accept
                online payments such as Visa, Mastercard, American Express, Discover, JCB, Diners Club, China UnionPay,
                debit cards. All prints are delivered in the dimensions of the original printing.</p>

            <h3 class="mt-5">What is Ukiyo-e</h3>

            <p class="about mt-5">The original designs are created by using Woodblock print, this means the artists
                carve out the shape of
                each layer and print with ink before repeating this activity several times. As you can imagine, this is
                an extremely time consuming and meticulous activity, but this is what allows for such depth and
                precision.</p>

            <p class="about mt-5">If your interested in how these works of art are created, <a
                    href="https://www.youtube.com/watch?v=t8uF3PZ3KGQ" target="_blank">click here</a> to see a video</p>

            <p class="about mt-5">We supply replica prints from the most popular and famous artists. Ukiyo-e art began
                around the Edo
                Period (1615-1868) in Tokyo. The peak period was during the 19th century. These first artworks depicted
                pictures of nature sure as mountains, waterfalls, flowers, and wildlife. One Product which encompasses
                this is Hokusai’s, <a href="https://ms4-ukiyo-e.herokuapp.com/products/36484/">Rōben Waterfall at Ōyama
                    in Sagami Province</a></p>

            <p class="about mt-5">The creation of Ukiyo-e art continued during the Meiji Period (1868-1912) however the
                styles and themes
                presented are much different. Throughout the Meiji Period the focus shifted away from nature and a
                greater inclusion of Western influence in Japan, which can be seen in Yoshiiku's <a
                    href="https://ms4-ukiyo-e.herokuapp.com/products/73525/">The Flourishing of an English Trading Firm
                    in Yokohama
                </a>. The Meiji Period also carried
                its own style in darker colour used.</p>
        </div>
    </div>
</div>

{% endblock %}