{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
{% with products|first as product %}
<div class="">

    <img class="artist-welcome-image" src="{{ product.image.url }}" alt="{{ product.name }}">
    <div class="artist-info text-center">
        <h2 class="mb-3">{{ artist }}</h2>
        <!-- <div class="dots">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div> -->
        {% if product.Artist_Display_Bio %}<h5 class="artist-detail mt-10"><strong>Bio: </strong>{{ product.Artist_Display_Bio }}</h5>{% endif %}
        {% if product.Medium %}<h5 class="artist-detail mt-10"><strong>Mediums: </strong>{{ product.Medium }}</h5>{% endif %}
        {% if product.Artist_Wikidata_URL %}<a href="{{ product.Artist_Wikidata_URL }}" target="_blank">
            <h5 class="artist-detail mt-2">Artist Wikkidata</h5>
        </a>{% endif %}
        {% if product.Artist_ULAN_URL %}<a href="{{ product.Artist_ULAN_URL }}" target="_blank">
            <h5 class="artist-detail mt-2">Artist getty</h5>
        </a>{% endif %}
    </div>
    
    {% endwith %}
</div>

<div class="container-fluid">
    <!-- Artist Products heading -->
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Products by {{ artist }}</h2>
            <hr class="w-50 mb-1">
        </div>
    </div>

    <!-- Artist Products items -->
    <div class="row">
        <div class="product-container col-10 offset-1">
            <div class="row mt-1 mb-2">
                <div class="col-12 col-md-6 order-md-first">
                    <p class="text-muted mt-3 text-center text-md-left">
                        <span class="small"><a href="{% url 'artists' %}">Artists Home</a> | </span>
                        {{ products|length }} Products by {{ artist }}
                    </p>
                </div>

            </div>
            <div class="card-columns">

                <div class="row products-row">
                    {% for product in products %}
                    <div class="card border-0">
                        <div class="image-wrap">
                            {% if product.image %}
                            <a href="{% url 'product_detail' product.id %}">
                                <img id="myImg" class="product-image card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                            </a>
                            {% else %}
                            <a href="{% url 'product_detail' product.id %}">
                                <img class="product-image card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                            </a>
                            {% endif %}
                                <i id="{{ product.id }}" class="fas fa-info-circle mobile-product-info d-lg-none fa-2x mt-2"></i>
                                <div id="{{ product.id }}-mobile-overlay" class="product-overlay">
                                    <div class="text text-white">
                                        <p><a class="text-white" href="{% url 'product_detail' product.id %}" {% if product.name|length > 32 %}title="{{ product.name }}"{% endif %}>{{ product.name|truncatechars:32 }}</a></p>
                                        <p class="text-white">By</p>
                                        <p><a class="text-white" href="{% url 'artist_detail' product.Artist_Display_Name %}">{{ product.Artist_Display_Name }}</a></p>
                                        {% if request.user.is_superuser %}
                                        <small class="ml-0">
                                            <a href="{% url 'edit_product' product.id %}"><i class="fas fa-pencil-alt"></i></a> |
                                            <a href="{% url 'delete_product' product.id %}" class="confirmation"><i class="far fa-trash-alt"></i></a>
                                        </small>
                                        {% endif %}
                                    </div>
                                </div>
                        </div>
                        
                        <div class="card-body pb-3 pt-1">
                            <!-- <p class="mb-0">{{ product.name }}</p> -->
                            <p class="pricing mb-0 text-left font-weight-bold">${{ product.price }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>



            </div>
        </div>
    </div>

    {% if similar_artists %}
    <!-- Similar Artists Heading -->
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Similar Artists</h2>
            <hr class="w-50 mb-1">
        </div>
    </div>

    <!-- Similar artist items -->
    <div class="row mt-1 mb-2 {% if not similar_artists %}d-none{% endif %}">
        <div class="product-container col-10 offset-1">
            <div class="row">
        {% for key, value in similar_artists.items %}
        <div class="card col-lg-4 col-md-6 border-0">
            <a href="{% url 'artist_detail' key %}">
                <img class="artist-image card-img-top" src="{{ value }}" alt="Card image cap">
            </a>
            <div class="card-body">
                <a href="{% url 'artist_detail' key %}">
                    <p class="card-text">{{ key }}</p>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
    </div>
</div>
{% endif %}
</div>
<div class="btt-button shadow-sm rounded-0 border border-black">
    <a class="btt-link d-flex h-100">
        <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
    </a>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    // https://stackoverflow.com/questions/21121957/add-class-based-on-height-of-element
    function low_height_image() {
        $(".product-overlay").each(function () { // do this for each matched item
            if ($(this).height() < 225) { // search for <p> in context of current element
                $("p", this).addClass('low-height');
                console.log("Added "+$(this).height());
            }
            else{
                console.log("skip")
            }
        })
    };
</script>
<script type="text/javascript">
    $('.btt-link').click(function (e) {
        window.scrollTo(0, 0)
    })
</script>
<script type="text/javascript">
    $("i.fa-info-circle").click(function(ev){
      var product_id = "#" + $(this).attr('id')
      $(product_id).toggleClass("info-icon-on");
      var textbox = "#" + $(this).attr('id') + "-mobile-overlay"
      $(textbox).toggleClass("show-box");
  })
  </script>
  <script type="text/javascript">
    var elems = document.getElementsByClassName('confirmation');
    var confirmIt = function (e) {
        if (!confirm('Are you sure you want to delete this product?')) e.preventDefault();
    };
    for (var i = 0, l = elems.length; i < l; i++) {
        elems[i].addEventListener('click', confirmIt, false);
    }
</script>
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}