{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Products</h2>
            {% if current_period == "edo" %}
            <h5>Edo period (1615–1868)</h5>
            {% elif current_period == "meiji" %}
            <h5>Meiji period (1868–1912)</h5>
            {% else %}
            <h5>All Products</h5>
            {% endif %}
            <hr class="w-50 mb-1">
        </div>
    </div>
    <div class="row">
        <div class="product-container col-10 offset-1">
            <div class="row mt-1 mb-2">
            <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                <div class="sort-select-wrapper w-50">
                    <select id="sort-selector"
                        class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None-None' %}info{% else %}black{% endif %}">
                        <option value="reset" {% if current_sorting == 'None-None' %}selected{% endif %}>Sort by...
                        </option>
                        <option value="price-asc" {% if current_sorting == 'price-asc' %}selected{% endif %}>Price (low
                            to high)</option>
                        <option value="price-desc" {% if current_sorting == 'price-desc' %}selected{% endif %}>Price
                            (high to low)</option>
                        <option value="Object_Begin_Date-asc"
                            {% if current_sorting == 'Object_Begin_Date-asc' %}selected{% endif %}>Year (old to new)
                        </option>
                        <option value="Object_Begin_Date-desc"
                            {% if current_sorting == 'Object_Begin_Date-desc' %}selected{% endif %}>Year (new to old)
                        </option>
                        <option value="name-asc" {% if current_sorting == 'name-asc' %}selected{% endif %}>Name (A-Z)</option>
                                <option value="name-desc" {% if current_sorting == 'name-desc' %}selected{% endif %}>Name (Z-A)</option>
                    </select>
                </div>
            </div>
            <div class="col-12 col-md-6 order-md-first">
                <p class="text-muted mt-3 text-center text-md-left">
                    {% if search_term or current_sorting != 'None_None' %}
                    <span class="small"><a href="{% url 'products' %}">Products Home</a> | </span>
                    {% endif %}
                    {{ products|length }} Products{% if search_term %} found for
                    <strong>"{{ search_term }}"</strong>{% endif %}
                </p>
            </div>
            </div>
            <div class="products-card-columns">
                <div class="row products-row">
                    {% for product in products %}
                    <div class="card border-0">
                        <div class="image-wrap">
                            {% if product.image %}
                            <a href="{% url 'product_detail' product.id %}">
                                <img id="myImg" class="product-image card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                            </a>
                            {% else %}
                            <a href="{% url 'product_detail' product.id %}">
                                <img class="product-image card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                            </a>
                            {% endif %}
                                <i id="{{ product.id }}" class="fas fa-info-circle mobile-product-info d-lg-none fa-2x mt-2"></i>
                                <div id="{{ product.id }}-mobile-overlay" class="product-overlay">
                                    <div class="text text-white">
                                        <p><a class="text-white" href="{% url 'product_detail' product.id %}" {% if product.name|length > 25 %}title="{{ product.name }}"{% endif %}>{{ product.name|truncatechars:25 }}</a></p>
                                        <p class="text-white">By</p>
                                        <p><a class="text-white" href="{% url 'artist_detail' product.Artist_Display_Name %}">{{ product.Artist_Display_Name }}</a></p>
                                        <!-- <p><a class="text-white"  href="{% if product.image %}{{ product.image.url }}{% else %}{{ MEDIA_URL }}noimage.png{% endif %}" target="_blank"><i class="fas fa-search-plus mt-3"></i></a></p> -->
                                        {% if request.user.is_superuser %}
                                        <small class="ml-0">
                                            <a href="{% url 'edit_product' product.id %}"><i class="fas fa-pencil-alt"></i></a> |
                                            <a href="{% url 'delete_product' product.id %}" class="confirmation"><i class="far fa-trash-alt"></i></a>
                                        </small>
                                        {% endif %}
                                    </div>
                                </div>
                        </div>
                        
                        <div class="card-body pb-3 pt-1">
                            <!-- <p class="mb-0">{{ product.name }}</p> -->
                            <p class="pricing mb-0 text-left font-weight-bold">${{ product.price }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

</div>
<div class="btt-button shadow-sm rounded-0 border border-black">
    <a class="btt-link d-flex h-100">
        <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
    </a>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    // https://stackoverflow.com/questions/21121957/add-class-based-on-height-of-element
    function low_height_image() {
        $(".product-overlay").each(function () { // do this for each matched item
            if ($(this).height() < 170) { // search for <p> in context of current element
                $("p", this).addClass('low-height');
                console.log("Added "+$(this).height());
            }
            else{
                console.log("skip")
            }
        })
    };
</script>
<script type="text/javascript">
    $('.btt-link').click(function (e) {
        window.scrollTo(0, 0)
    })
</script>

<script type="text/javascript">
    $('#sort-selector').change(function () {
        var selector = $(this);
        var currentUrl = new URL(window.location);

        var selectedVal = selector.val();
        if (selectedVal != "reset") {
            var sort = selectedVal.split("-")[0];
            var direction = selectedVal.split("-")[1];

            currentUrl.searchParams.set("sort", sort);
            currentUrl.searchParams.set("direction", direction);

            window.location.replace(currentUrl);
        } else {
            currentUrl.searchParams.delete("sort");
            currentUrl.searchParams.delete("direction");

            window.location.replace(currentUrl);
        }
    })
</script>
<script type="text/javascript">
  $("i.fa-info-circle").click(function(ev){
    var product_id = "#" + $(this).attr('id')
    $(product_id).toggleClass("info-icon-on");
    var textbox = "#" + $(this).attr('id') + "-mobile-overlay"
    $(textbox).toggleClass("show-box");
})
</script>
<script type="text/javascript">
    var elems = document.getElementsByClassName('confirmation');
    var confirmIt = function (e) {
        if (!confirm('Are you sure you want to delete this product?')) e.preventDefault();
    };
    for (var i = 0, l = elems.length; i < l; i++) {
        elems[i].addEventListener('click', confirmIt, false);
    }
</script>
{% endblock %}